#text {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

#text .highlight {
	color: white;
	transition: none;
}

#story {
	height: 200px;
}

#story * {
	transition: all 3s;
}

#current {
}

#task {
	color: #f33;
}



#text #story:before {
	content: "The story so far...";
}

#text #description {
	backround-color: red;
}

#text #inventory {}
#text #local {}
#text #action {}
